.navbar-brand img {
  height: 50px;
  /* put value of image height as your need */
}

.showcase-div img {
  width: 100%;
}

.img_inner_shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}